/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: #555;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
    background-color: #f4f4f4;
}

.main-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1.2em;
}
